body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin-top: 100px;
}

.survey-form {
  margin-top: 10px;
}

.questions .form-control {
  display: inline;
}

.questions li {
  margin-bottom: 10px;
}

.questions .btn-question {
  margin-right: 10px;
  cursor: pointer;
  cursor: hand;
}
